<div class="header-container absolute-center">
  <div class="one-hundred-days aleo-bold">100 Days of</div>
  <div class="amatic-bold object">
  </div>
  <p class="description aleo-light-italic">
  Witty banter here.
  </p>
  <div class="play">
    <i class="foundicon-right-arrow"></i>
  </div>

</div>
<div id="videoMAN"></div>
<div class="secondary-info aleo-light">
  <h3>
    35F Above Freezing
  </h3>
  <h4><i class="foundicon-location"></i>
  San Francisco, CA
  </h4>
  <h4><i class="foundicon-clock"></i>
   08.09.13:19:58
  </h4>
</div>
