<div class="header-container absolute-center">
  <div class="one-hundred-days aleo-bold">100 Days of</div>
  <div class="amatic-bold object">
  </div>

</div>
<div id="videoMAN"></div>
<div class="bottom-nav">Not done</div>
