.commitment
  background: charcoal
  transition: all 0.2s ease-in-out
  color: suble-snow
  &.open
    background-image: url('/images/migration.jpg')
    background-size: cover
    transform(translate3d(0,0,0))

    h1
      display: none


  h1
    align(vertical)
