.daydream
  background-image: url('/images/daydream.jpg')
  background-size: cover
  p
    +above(600px)
      col(1/3)
    padding: 15px
    color: suble-snow
    align(vertical)

    +below(600px)
      col(1)
