.daydream
  background-image: url('/images/daydream.jpg')
  background-size: cover
  color: suble-snow

  .content
    col(3/5, offset=1/12)
    align(vertical)
  p
    padding: 15px
    color: suble-snow
