.daydream
  background-image: url('/images/daydream.jpg')
  background-size: cover
  p
    +above(600px)
      col(2/6, offset=1/12)
    padding: 15px
    color: suble-snow
    align(vertical)

    +below(600px)
      col(1)
