h1
  font-size: 45px


.base-camp
  background-image: url('/images/new_homes.jpg')
  background-size: cover
  transform(translate3d(0,0,0))

  .new-home
    align()
    span(1/2)
    background: rgba(255,255,255,0.6);
    padding: 20px

.the-chase-begins
  background-image: url('/images/the-chase.jpg')
  background-size: cover
  transform(translate3d(0,0,0))

.triple-digits
  background-image: url('/images/triple_digits.jpg')
  background-size: cover

.fin
  background-image: url('/images/fin.jpg')
  background-size: cover
  transform(translate3d(0,0,0))

.the-people
  .strip
    box-sizing: border-box
    span(1/3)
    padding: 10px
    height: 100%
    &.girlfriends
      background-image: url('/images/girlfriends.jpg')
      background-size: cover
      background-position: center
    &.new-friends
      background-image: url('/images/old_friends.jpg')
      background-size: cover
      background-position: center
      background: ember
    &.old-friends
      background: dark-sky

.timing-is-everything
  .half
    box-sizing: border-box
    col(1/2)
  .hero
    col(1)
    align()
    background: white
    cf()


.migration
  background-image: url('/images/migration.jpg')
  background-size: cover
  transform(translate3d(0,0,0))

// The powder buffet

.fresh-pow
  background-image: url('/images/fresh_pow.jpg')
  background-size: cover
  transform(translate3d(0,0,0))

.wet-pow
  background-image: url('/images/wet_pow.jpg')
  background-size: cover
  transform(translate3d(0,0,0))

.missed-pow
  background-image: url('/images/missed_pow.jpg')
  background-size: cover

.no-pow
  background-image: url('/images/no_pow.jpg')
  background-size: cover
