
.migration
  background-image: url('/images/migration.jpg')
  background-size: cover
  transform(translate3d(0,0,0))

.new-homes
  background-image: url('/images/new_homes.jpg')
  background-size: cover
  transform(translate3d(0,0,0))

.new-friends
  background-image: url('/images/new_friends.jpg')
  background-size: cover
  transform(translate3d(0,0,0))

.old-friends
  background-image: url('/images/old_friends.jpg')
  background-size: cover
  transform(translate3d(0,0,0))

.girlfriends
  background-image: url('/images/girlfriends.jpg')
  background-size: cover
  transform(translate3d(0,0,0))

.siblings
  background-image: url('/images/siblings.jpg')
  background-size: cover
  transform(translate3d(0,0,0))


// The powder buffet

.fresh-pow
  background-image: url('/images/fresh_pow.jpg')
  background-size: cover
  transform(translate3d(0,0,0))

.wet-pow
  background-image: url('/images/wet_pow.jpg')
  background-size: cover
  transform(translate3d(0,0,0))

.missed-pow
  background-image: url('/images/missed_pow.jpg')
  background-size: cover

.no-pow
  background-image: url('/images/no_pow.jpg')
  background-size: cover
