.arrival
  background-image: url('/images/arrival.jpg')
  background-repeat: none



.tooth
  background-image: url('/images/tooth.jpg')

.the-plan
  background-image: url('/images/the-plan.jpg')
  color: white

  .half
    col(1/3, offset=1/24)
    align(vertical)

.base_camp
  background-image: url('/images/new_homes.jpg')

  .new-home
    align()
    span(1/2)
    background: rgba(255,255,255,0.6);
    padding: 20px

.first_day
  background-image: url('/images/first-day.jpg')

.triple-digits
  background-image: url('/images/triple_digits.jpg')

.fin
  background-image: url('/images/fin.jpg')
  transform(translate3d(0,0,0))


.migration
  background-image: url('/images/migration.jpg')

// The powder buffet

.fresh-pow
  background-image: url('/images/fresh_pow.jpg')

.wet-pow
  background-image: url('/images/wet_pow.jpg')

.missed-pow
  background-image: url('/images/missed_pow.jpg')

.no-pow
  background-image: url('/images/no_pow.jpg')


