// Intro glimpse
.intro
  background-image: url('/images/fresh_tracks.jpg')
  background-size: cover
  .typcn-arrow-down-outline
    font-size: 1220px
    color: dark-snow
    margin-top: 18px
    display: inline-block
    visibility: hidden
    opacity(0)

  h1
    font-size: 21px
    color: #0f0f0f
