// Intro glimpse
.intro
  background-image: url('/images/fresh_tracks.jpg')
  background-size: cover

  .hero
    col(1/2, offset: 1/4)
    align(vertical)

    +below(500px)
      background-color: red

  h1
    font-size: 11vw
