@import 'fonts'
@import 'nib'
body
  background: linear-gradient(left, white, #efefef);
  &.loading
    .loading-indicator
      display: block

.absolute-center
  width: 400px
  height: 250px
  overflow: auto
  margin: auto
  position: absolute
  top: 10px
  left: 0
  bottom: 0
  right: 0
  background #efefef
