//colors
suble-snow = #E6E8E3;
dirty-snow = #D7DACF;
dark-snow  = #BEC3BC;
gray-sky   = #8F9A9C;
dark-sky   = #65727A;
fire-red   = #D45B39;


@import 'nib'
@import 'type.css'
@import 'fonts'
@import 'grid.styl'
@import 'spinner.css'
@import 'glimpses/intro.styl'

// Config
@columns = 12
@column-width = 60;
@gutter-width = 20;
@total-width = 100%;

global-reset()


html, .viewport, body
  position: relative
  height: 100%
  background: suble-snow

body
  color: #323232
  position: relative

.absolute-center
  column(6)
  overflow: auto
  margin: auto
  position: absolute
  top: 10px
  left: 0
  bottom: 0
  right: 0
  z-index: 10
  text-align: center
  height: 33%
  overflow: hidden

.header-container
  padding: 10px
  height: 50%
  color: white;
  text-shadow black 0px 2px 4px;


  .one-hundred-days
    font-size: 72px
    display: inline-block
    text-shadow black 0px 2px 4px;

  .object
    font-size: 90px
    display: inline-block
    margin: 0px 10px

    span
      z-index: -1000
      opacity: 0

  .description
    margin: 18px 0px
    font-size: 18px
    opacity(0)

  .play
    background: rgba(33,33,33,0.8)
    font-size: 32px
    padding: 10px
    width: 72px
    height: 72px
    border-radius(72px)
    line-height: 72px
    font-size: 60px
    display: inline-block
    opacity(0)

.subtitle
  border-top: 2px solid #D7DACF
  border-bottom: 1px solid #D7DACF
  padding: 10px 0px;
  font-size: 18px
  color: fire-red

h1{
  font-size: 90px
  color: dark-sky
}

.bottom-nav
  color: white
  width: 100%
  height: 56px
  background: rgba(33,33,33,0.8)
  bottom: 0px
  left: 0px
  z-index: 10
  position: absolute

.secondary-info
  column(2)
  position: absolute
  top: 0px
  right: 0px

.glimpse{
  width: 100%
  height: 100%
  position: relative
  margin-bottom: 10px
  display: block
  background-size: cover
}

.left-align{
  text-align: left
}

.hidden{
  opacity: 0.0
}


.stats
  position: fixed
  right: 0

