<p>
  There was a few times during the season where my timing was completely off. Visiting Squaw in early February and getting core shots in my powder board. Flying to my dream destination of Whistler to get rained on so hard that I started paying attention to waterproofing ratings on jackets. All while missing arguably the best conditions back in Summit County. It’s all temporary, and that’s what makes it so great.
</p>
<img src='/images/squaw.jpg' class='half-spread'/>
<img src='/images/powder-report.png' class='half-spread'/>
