<div class='new-home'>
  <h1 class='aleo-bold'>Base Camp</h1>
  <p class='aleo-light-italic'>Choosing a location was easy. After two lackluster and unseasonably warm winters in California, the main requirement were a location high in the Rockies. It also needed to not be isolated enough to make it impractical to fly to San Francisco on short notice.</p>
<p class='aleo-light-italic'>
  My high school friend [Dagmara](blog) had been trying to convince me to move out to Breckenridge for a few years and after a bit of research it turned out to be the prime location: a base elevation of 10k, plenty of ski resorts within an hour's drive, and a few hours drive from Denver so I could, in theory, wake up and make it to San Francisco in time my 11am daily meeting – I even managed to put this to test once by waking up at 4am, taking a 7am flight, and being in th office by 10:30; most surreal work commute of my life.
</p>
</div>
