<h3>Breckenridge</h3>
<p>
   A town nestled in the Rockies with a base elevation higher than the peak of Squaw Valley. Within striking distance of many of the top ski resorts in the country: Vail, Keystone, even Telluride if needed. If I couldn’t ride a hundred days here, I’d have move to Alaska.
</p>
<p>
  It also sounded like a very conducive environment for life off the slopes. I had a high-school friend living there, it had good aprés, fast internet, and was close enough to an airport.
</p>
  After a little convincing and negotiating, I was even able to continue working on Airbnb: I’d be able to work remotely, but I’d need to spend a week in San Francisco each month, more if required. For all intensive purposes, I’d still be an employee based in San Francisco, having to personally pay for everything like airfare, and lodging. Given the savings by not paying rent in San Francisco, the decision was easy.
</p>
