<p>
  It also sounded like a very conducive environment for life off the slopes. I had a high-school friend living there, it had good aprés, fast internet, and was close enough to an airport.
</p>
  After a little convincing and negotiating, I was even able to continue working on Airbnb: I’d be able to work remotely, but I’d need to spend a week in San Francisco each month, more if required. For all intensive purposes, I’d still be an HQ employee, having to personally pay for everything like airfare, and lodging. Given the savings by not paying rent in San Francisco, the decision was easy.
</p>
