<div class="overlay"></div>
<div class="suble-snow header absolute-center left-align">
  <h1 class="aleo-bold space-1 suble-snow hidden">
    Commitment
  </h1>
  <div class="description hidden">
  <p>
    The first step in this [ad]venture was prolonged commitment. Not an individual action but a long gestation that bears fruits only when the time is right. School, money, other obligations, all unsurpassable obstacles for this somewhat selfish pursuit in the past. A few well placed kicks in the side of the untamed beast we call life, shifted its trajectory ever so slightly in the desired direction. This year the time has come. Good health, a favorable work situation, the equipment , my beloved <a href="http://en.wikipedia.org/wiki/Subaru_Impreza_(second_generation)#Saab_9-2X" target="_blank">Saabaru</a>, and a partner in adventure. I even have enough savings to last me through the season living off salami and tomatoes; The Goldilocks Zone, or at least as close as it's going to get.
  </p>
  <p>
  With a little more than Street View and a few iPhone photos as reference, I signed the lease and sent the check. And just like that, with the screech of a shutting mailbox, this daydream clawed its way into reality.
  </p>
  </div>
  <i class="gen-enclosed foundicon-right-arrow play scroll-down hidden"></i>

</div>
<div class="map">

</div>
