<div>
  <div class="overlay"></div>
  <div class='note'>
    <p>What does it take to turn a daydream into reality? Prolonged commitment. Not an individual action, but rather a long gestation that bore fruit only when the time was right. Small adjustments over the period of a few years had gotten me to a point where this goal was attainable: money, health, a conducive work environment; even my girlfriend was willing to quit her job, move to the mountains, and learn to snowboard.

    Once I was fully committed, everything happened pretty quick: signed a lease sight unseen, trim-tabbed my way into being able to work remotely for the majority of the season [I really appreciate the level of trust placed in me by Airbnb, hopefully I didn't disappoint], sublet my room in San Francisco, and before I knew it, my car was packed the ceiling and the time to head east to Colorado had came.</p>
  </div>
  <div class='money-transfer'></div>
</div>
<div class='map'/>
