<div class='content'>
  <h1 class='aleo-bold'>The Daydream</h1>
  <p class='aleo-light-italic'>
    I've loved snow my entire . Being born in a small ski town in Romania, a fascination with the mountains was instilled in me as toddler. Having moved away at a young age to the plains of Ohio, I was teased with wet winters and ski areas boasting 240ft of vertical. I took that passion from the hills of western New York, to the Appalachians of New England, and eventually ended up within striking distance of The Sierras. After two seasons filled with weekend trips to Tahoe, I wanted more: to turn what constituted a weekend activity for those around me, into the lifestyle I knew some lived. What did that mean to me? To ride one hundred days in a season.
  </p>
</div>
