<div class='third-spread'>
  <p>
    All in all, this season I was able to ride 126 days. My season ended on May 2nd, at Snowbird, where temperatures hovered around 60 degrees and I was able to work on my goggle tan while riding slush. Our stop in Park City really drove home that winter was over and summer was coming. Back to San Francisco. We’ll see what next year holds.
  </p>
</div>
