<div class='overlay'></div>
<p>
  Fast forward a few work-from-bed days and I was able to start clocking in days as the season officially started. Over the next  few weeks, a routine emerged. A zen existence of riding in the morning, working through the evening, punctuated with the occasional aprés ski happy hour. I was content.
</p>
