<div class="absolute-center">
    <h1 class="aleo-bold">Days</h1>
    <h3 class="aleo-light-italic subtitle">The pursuit of riding one hundred days in a season; the decisions, the people, and the experiences.
    </h3>
</div>
