<div class="absolute-center">
    <h1 class="aleo-bold space-1">W00t</h1>
    <h3 class="aleo-light-italic subtitle">
      Hello My name is:
    </h3>
    <i class="typcn typcn-arrow-down-outline scroll-down"></i>
</div>
