<div class="absolute-center">
    <h1 class="aleo-bold space-1">100 Days</h1>
    <h3 class="aleo-light-italic subtitle">
      An experiment in equilibrium, through software and snowboarding
    </h3>
    <i class="typcn typcn-arrow-down-outline scroll-down"></i>
</div>
