<div class="absolute-center">
    <h1 class="aleo-bold">100 Days</h1>
    <h3 class="aleo-light-italic subtitle">
      The pursuit of snowboarding one hundred days in a season.
    </h3>
    <i class="typcn typcn-arrow-down-outline scroll-down"></i>
</div>
