<p>
  Once course was set, everything came together pretty quickly. My girlfriend decided to quit her job, join me in Colorado and learn how to snowboard. We signed a lease sight unseen on a condo close to the lift - the street being appropriately ‘Ski Hill’ and the height of the snowbanks on street view reassuring me. It was even a two bedroom which would finally allow me to host others seeking snow, while being an active member of the community we were building at work.

  On October 27th, we packed Saabaru and headed east.
</p>
