<div class="overlay"></div>
<div class="absolute-center">
  <h1 class="title aleo-bold"> Migration </h1>
  <div class="intro aleo-light-italic suble-snow left-align">
    <p>
      There's nothing quite like setting out on an adventure. Months of dreaming, preparation, and anxiety just dissapate into the rear-view mirror.
    </p>
  </div>

  <i class="gen-enclosed foundicon-right-arrow play scroll-down hidden suble-snow"></i>


  <div class="san-francisco hidden">
    <h4 class="aleo-light-italic suble-snow">
      Oct. 27<sup>th</sup>
    </h4>
    <h1 class="aleo-bold">San Francisco</h1>
    <h2 class="aleo-light suble-snow"> 56°F </h2>
  </div>

  <div class="mileage aleo-bold hidden suble-snow">
    <h1><span class="miles-left">1999</span> miles left </h1>
  </div>

  <div class="breckenridge hidden">
    <h4 class="aleo-light-italic suble-snow">
      Oct. 30<sup>th</sup>
    </h4>
    <h1 class="aleo-bold">Breckenridge</h1>
    <h2 class="aleo-light suble-snow"> 24°F </h2>
  </div>

</div>


