<p>
  Once course was set, everything came together pretty quickly. My girlfriend decided to quit her job, move out to Colorado with me and learn how to snowboard. We signed a lease sight unseen on a condo close to the lift - the street being named ‘Ski hill rd.’ and the height of the snow banks on google street view were all the assurance I needed. It was even a 2 bedroom which would finally allow me to host others seeking snow, while being an active member of the community we were building at work.
  On October 27th, we headed east.
</p>
