<div class="absolute-center left-align">
    <h1 class="aleo-bold">Nostalgia</h1>
    <p class="aleo-light-italic">
      Maybe it's the fatigue of summer, or maybe it's because the halfway mark between ski seasons has passed, but I find myself reminissing about last season. Playing old GoPro footage, looking through photos, thinking about the last park run at Northstar accompanied by A-Track's "Like the Dancefloor". Do I have the flexibility to properly tweak a method?. This feeling is further amplified by its unattainability. Barring flying down to the Southern Hemisphere, there's no real way to quench this thirst.
      Skateboarding supplies the style, surfing the flow, but neither is a substitute for the descent on even the iciest of trails. Another two months until the chairs start turning.
    </p>
</div>

