<div class="absolute-center left-align">
  <h2 class="aleo-bold"> Preface </h2>
  <p class="aleo-light">
  Work and play. Two virtually indistinguishable activities when you're a child. As you age, a schism emerges. Work becomes what you have to do and play is how you fill the gaps. In my experience this division is purely artificial. To me, work is simply play evolved enough that it creates significant value for others. And for this created value, others are willing to pay you. I've found myself most content when I don't compromise the two but rather develop a rhythm; a rhythm that also seems to yield better results in both.
  </p>
  <p class="aleo-light">
  This month I turn 26, an unique point in my life. I've been involved in my two longest lasting passions for half my life: creating software, and board sports. Two different mediums for self expression. I even developed one enough for it to become my profession. My mother also brought to my attention that she'll be exactly twice my age this year. Coincidences certainly, but enough to elicit a retrospection, and perhaps even a little course correction.
  </p>
  <p class="aleo-light">
    It's with this in mind that I pose myself a challenge this winter season: to snowboard one hundred days while also working full time. After a series of events, and a little bit of <a href="http://en.wikipedia.org/wiki/Trim_tab" target="_blank">trim-tabbing</a>, this experiment will become a reality. At the end of this month my girlfriend and I will relocate temporarily to Breckenridge, Colorado for the ski season. Luckily, I'll still have the opportunity to contribute to an idea I wholeheartedly support: <a href="http://airbnb.com" target="_blank">Airbnb</a>. I'll even get a chance to use the platform consistently through hosting in the extra bedroom. In theory, with a little bit of self discipline, this environment will create a rhythm that'll not only amplify my snowboard skills, but also my work.
  </p>
  <h3 class="aleo-bold">
    In reality, we'll see what happens.
  </h3>
  <h5 class="aleo-light-italic">October 1st, 2013</h5>
</div>
