<div class='half'>
  <p>
    Setting out on this experience wasn’t really an adventure; it was very much premeditated. I’ve been ruminating the idea over for a while but I was content enough in my day-to-day that I didn’t feel the need to execute. Coming from the east coast, having a ski lease in Tahoe and going up 30 days a season was more than satisfying. I had a good setup: I could continue learning and making money as a software engineer, while having the flexibility to make weekly pilgrimages on the weekends, or whenever OpenSnow forecasted a powder day. Not bad.
  </p>
  <p>
    After a while this routine was no longer satisfying. I also didn’t want to ride a hundred days in Tahoe. The winter of 2012-2013 was unusually dry and I had become a little bored.
    I didn’t want just to ride a hundred days, I wanted to ride a hundred days worth riding. There was one place that stood out as a home base.
  </p>
</div>
