<p>
  Nothing breaks routine like shock. The shock of spending months planning an experience, days driving across farmland, deserts to reach your destination, only to wake up back where you started, on a leaky air mattress in your living room. On a Monday morning How could a three hour trip on a Sunday evening, result in being back where I started? Was the whole thing just a dream on the weekend and now it was time to face real life? The walk to work that day was one of the most surreal experiences I’ve had to date. In less than 24 hours going from standing on top of Peak 8, to standing on top of Potrero Hill. To return to the office as if it was just another Monday. To go from a lunch consisting of salami sandwiches and water to lamb chops and all the kombucha a man could consume. It was an amazing experience. I can’t explain why but for the first time I truly felt the impact of technology. A trip that a few generations ago would have taken weeks, if not months, reduced to a three hour nap.
</p>
<div>
  <img src='/images/breck.jpg' alt='breckenridge' class='half-spread'/>
  <img src='/images/potrero.jpg' alt='breckenridge' class='half-spread'/>
</div>
<p>
  On every subsequent trip, I became more disintrested in city life.
</p>

<p>
  Morning coffee? A frigid morning run wakes me right up. Taking Ubers to dinner? That costs as much as dinner for two days! Late night partying? Aprés is more fun and I can be in bed by 10PM and catch first chair.
</p>
