<p>
  Living in Breck surprisingly surrounded me with a much wider diversity of people. College grads following their passion for the mountains, chasing midweek powder days while working at the resort the rest of the time; seniors more fit than most people my age in the city. By hosting on Airbnb I had the pleasure of interacting with people who thought differently: PHD students from Oxford, aspiring brewers from Austin, all around rad people from Australia; even the occasional tech entrepreneur. All brought together joyful and because of the simple love of sliding down hills at high speed.
</p>
