<p>
  The very next day, I woke up with an altitude induced tooth infection which resulted in an emergency root canal, and a new found appreciation for the ability to work remotely while keeping my dental insurance.
</p>
